{{ include "common.validations.values.single.empty" (dict "valueKey" "config.argoWorkflows.domain1" "context" $) }}
{{ include "common.validations.values.single.empty" (dict "valueKey" "config.argoWorkflows.token" "context" $) }}
{{ include "common.validations.values.single.empty" (dict "valueKey" "config.argoWorkflows.workerNamespace" "context" $) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if or .Values.secretAnnotations .Values.commonAnnotations }}
  annotations:
      {{- if .Values.secretAnnotations }}
      {{- include "common.tplvalues.render" ( dict "value" .Values.secretAnnotations "context" $ ) | nindent 4 }}
      {{- end }}
      {{- if .Values.commonAnnotations }}
      {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
      {{- end }}
  {{- end }}
type: Opaque
data:
  {{- with .Values.config.argoWorkflows }}
  ARGO_WORKFLOWS_DOMAIN: {{ .domain | b64enc | quote }}
  ARGO_WORKFLOWS_TOKEN: {{ .token | b64enc | quote }}
  ARGO_WORKFLOWS_WORKER_NAMESPACE: {{ .workerNamespace | b64enc | quote }}
  {{- end }}

  {{- with .Values.config.dingTalk }}
  DINGTALK_CLIENT_ID: {{ .clientId | b64enc | quote }}
  DINGTALK_CLIENT_SECRET: {{ .clientSecret | b64enc | quote }}
  DINGTALK_ROBOT_CODE: {{ .robotCode | b64enc | quote }}
  {{- end }}

