apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if or .Values.secretAnnotations .Values.commonAnnotations }}
  annotations:
      {{- if .Values.secretAnnotations }}
      {{- include "common.tplvalues.render" ( dict "value" .Values.secretAnnotations "context" $ ) | nindent 4 }}
      {{- end }}
      {{- if .Values.commonAnnotations }}
      {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
      {{- end }}
  {{- end }}
type: Opaque
data:
  {{- with .Values.config.argoWorkflows }}
  ARGO_WORKFLOWS_DOMAIN: {{ required "config.argoWorkflows.domain is required!" .domain | b64enc | quote }}
  ARGO_WORKFLOWS_TOKEN: {{ required "config.argoWorkflows.token is required!" .token | b64enc | quote }}
  ARGO_WORKFLOWS_WORKER_NAMESPACE: {{ required "config.argoWorkflows.workerNamespace is required!" .workerNamespace | b64enc | quote }}
  {{- end }}

  {{- with .Values.config.dingTalk }}
  DINGTALK_CLIENT_ID: {{ required "config.dingTalk.clientId is required!" .clientId | b64enc | quote }}
  DINGTALK_CLIENT_SECRET: {{ required "config.dingTalk.clientSecret is required!" .clientSecret | b64enc | quote }}
  DINGTALK_ROBOT_CODE: {{ required "config.dingTalk.robotCode is required!" .robotCode | b64enc | quote }}
  {{- end }}

