apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if or .Values.secretAnnotations .Values.commonAnnotations }}
  annotations:
      {{- if .Values.secretAnnotations }}
      {{- include "common.tplvalues.render" ( dict "value" .Values.secretAnnotations "context" $ ) | nindent 4 }}
      {{- end }}
      {{- if .Values.commonAnnotations }}
      {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
      {{- end }}
  {{- end }}
type: Opaque
stringData:
  {{- with .Values.config.global }}
  clouds.yml: |
    global:
      prefix: {{ .prefix | quote }}
      port: {{ .port | quote }}
      metric_path: {{ .metric_path | quote }}
      scrape_batch_size: {{ .scrape_batch_size }}
      resource_sync_interval_minutes: {{ .resource_sync_interval_minutes }}
      ignore_ssl_verify: {{ .ignore_ssl_verify }}
      rms_retry_times: {{ .rms_retry_times }}
      {{- if .proxy_enabled }}
      proxy_schema: {{ .proxy_schema | quote }}
      proxy_host: {{ .proxy_host | quote }}
      proxy_port: {{ .proxy_port }}
      {{- if (and .proxy_username .proxy_password) }}
      proxy_username: {{ .proxy_username | quote }}
      proxy_password: {{ .proxy_password | quote }}
      {{- end }}
      {{- end }}
  {{- end }}

  {{- with .Values.config.auth }}
    auth:
      auth_url: {{ .auth_url | quote }}
      project_name: {{ .project_name | quote }}
      region: {{ .region | quote }}
      {{- if .oidc.enabled }}
      oidc:
        id_token_file_path: {{ .oidc.id_token_file_path | quote }}
        idp_id: {{ .oidc.idp_id | quote }}
        domain_id: {{ .oidc.domain_id | quote }}
      {{- else }}
      access_key: {{ .access_key | quote }}
      secret_key: {{ .secret_key | quote }}
      {{- end }}
  {{- end }}

  {{- with .Values.config.logs }}
  logs.yml: |
    business:
      {{- list . | toYaml | nindent 6 }}
  {{- end }}
