apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "prometheusalert.fullname" . }}
  labels:
    {{- include "prometheusalert.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "prometheusalert.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "prometheusalert.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
        checksum/config-sha: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{ toYaml .Values.global.imagePullSecrets }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ['sh', '-c', "/app/PrometheusAlert"]
          env:
          - name: TZ
            value: "Asia/Shanghai"
          ports:
            - name: http
              containerPort: {{ .Values.pod.containerPort }}
              protocol: TCP
          volumeMounts:
          - name: prometheus-alert-center-conf
            mountPath: /app/conf/app.conf
            subPath: app.conf
          - name: prometheus-alert-center-conf
            mountPath: /app/user.csv
            subPath: user.csv
          - name: prometheus-alert-center-conf
            mountPath: /app/db/init.sql
            subPath: init.sql
          {{- if .Values.pod.livenessProbe }}
          livenessProbe: {{ toYaml .Values.pod.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.pod.readinessProbe }}
          readinessProbe: {{ toYaml .Values.pod.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if or (hasKey .Values.pod.resources "requests") (hasKey .Values.pod.resources "limits") }}
          resources:
            {{- toYaml .Values.pod.resources | nindent 12 }}
          {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
      - name: prometheus-alert-center-conf
        configMap:
          name: {{ template "prometheusalert.fullname" . }}
          items:
          - key: app.conf
            path: app.conf
          - key: user.csv
            path: user.csv
          - key: init.sql
            path: init.sql
